<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <title>@ViewBag.Title - AAD Stadtpark Donau</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-default" style="z-index: 1337; margin-bottom: 0">
        <div class="container" id="menubar" style="background-color: #00AC9F; color: white;">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IngolstadtNatur", "IngolstadtNatur", "Home", null, new { style = "text-decoration:none;color:white" })
            </div>

            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Gallerie", "Gallery", "Home", null, new { style = "text-decoration:none;color:white" })</li>
                    <li>@Html.ActionLink("Karte", "Map", "Home", null, new { style = "text-decoration:none;color:white" })</li>
                </ul>

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("SignOut", "Account", new { Area = "" }, FormMethod.Post, new { @class = "navbar-right", id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav">
                            <li>
                                <a href='@Url.Action("Home", "Account")' role='button'><i class='fa fa-home' style='color: white'></i></a>
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()" role='button'><i class='fa fa-sign-out' style='color: white'></i></a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        @*<li>@Html.ActionLink("Register", "Register", "Account", new { Area = "" }, htmlAttributes: new { id = "registerLink" })</li>*@
                        <li><a href='@Url.Action("SignIn", "Account")' role='button'><i class='fa fa-sign-in' style='color: white'></i></a></li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container" style="background-color: #00AC9F; padding-top: 5px; padding-bottom: 5px;">
            <div class="row">
                <div class="col-xs-12 pull-right">
                    <div class="pull-right">
                        @Html.ActionLink("Impressum", "Impressum", "Home", null, new { style = "text-decoration:none;color:white" })
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/leaflet")

    @RenderSection("Scripts", false)
</body>
</html>