<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <title>@ViewBag.Title - AAD Stadtpark Donau</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container" style="background-color: #00AC9F; color: white; padding-top: 5px; padding-bottom: 5px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    @Html.ActionLink("IngolstadtNatur", "IngolstadtNatur", "Home", null, new { style = "text-decoration:none;color:white" })
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container" style="background-color: #00AC9F; padding-top: 5px; padding-bottom: 5px;">
            <div class="row">
                <div class="col-xs-12 pull-right">
                    <div class="pull-right">
                        @Html.ActionLink("Impressum", "Impressum", "Home", null, new { style = "text-decoration:none;color:white" })
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/leaflet")
    @Scripts.Render("~/bundles/moment")

    @RenderSection("Scripts", required: false)
</body>
</html>