<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <title>IngolStadtNatur</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-default" style="z-index: 1337; margin-bottom: 0">
        <div class="container" id="menubar" style="background-color: #00AC9F; color: white;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">IngolStadtNatur</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Öffentliche Gallerie", "Public", "Gallery", null, new { style = "color:white" })</li>
                </ul>

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("SignOut", "Account", new { Area = "" }, FormMethod.Post, new { @class = "navbar-right", id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href='@Url.Action("Index", "Map")' role='button'><i class='fa fa-map' style='color: white'></i></a></li>
                            <li><a href='@Url.Action("Private", "Gallery")' role='button'><i class='fa fa-photo' style='color: white'></i></a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()" role='button'><i class='fa fa-sign-out' style='color: white'></i></a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href='@Url.Action("SignIn", "Account")' role='button'><i class='fa fa-sign-in' style='color: white'></i></a></li>
                    </ul>
                }
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container" style="background-color: #00AC9F; padding-top: 5px; padding-bottom: 5px;">
            <div class="row">
                <div class="col-xs-12 pull-right">
                    <div class="pull-right">
                        @Html.ActionLink("Impressum", "Impressum", "Home", null, new { style = "text-decoration:none;color:white" })
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/leaflet")
    @Scripts.Render("~/bundles/lightgallery")

    @RenderSection("Scripts", false)
</body>
</html>