@using IngolStadtNatur.Utilities.Extensions
@model IngolStadtNatur.Web.Shell.Models.CreateCategoryObservationModel

<style>
    #Leaflet_Map {
        height: 600px;
        max-height: 60vh;
    }
</style>

@using (Html.BeginForm("CreateCategoryObservation", "Observation", FormMethod.Post, new { id = "Form_CategoryObservation", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Category.Id)

    <div class="row">
        <div class="list-group">
            <a href="@(Url.Action("Category", "Observation", new {id = @Model.Category.Id}, null))" class="list-group-item list-group-item-action aadi-lgi-common background-aad">
                <div class="media col-xs-2">
                    <img class="media-object aadi-img-responsive" src="~/Images/Common/Return_AAD.svg">
                </div>
                <div class="col-xs-9">
                    Zurück
                </div>
                <div class="media col-xs-1">
                    <img class="media-object aadi-img-responsive pull-right" src="~/Images/Common/Pfeil_Links_AAD.svg">
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="list-group">
            <div class="list-group-item">
                <div class="col-xs-9 col-xs-offset-2">
                    <div class="text-common">
                        @Model.Category.CommonName
                    </div>
                    <div class="text-scientific">
                        @Model.Category.ScientificName
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="list-group-item">
                <div class="col-xs-9 col-xs-offset-2">
                    <img class="media-object aadi-img-responsive" src=@($"/Content/icons/categories/{@Model.Category.CommonName.ToIconName()}.svg")>
                </div>
                <div class="col-xs-9 col-xs-offset-2">
                    <div class="text-description">
                        @Model.Category.Description
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            @if (!string.IsNullOrEmpty(Model.Category.Reference))
            {
                <a href="@Model.Category.Reference" target="_blank" class="list-group-item list-group-item-action aadi-item-menu">
                    <div class="media col-xs-2">
                        <img class="media-object aadi-img-responsive" src="~/Images/Common/Info_AAD.svg">
                    </div>
                    <div class="col-xs-9">
                        Mehr Informationen
                    </div>
                    <div class="media col-xs-1">
                        <img class="media-object aadi-img-responsive pull-right" src="~/Images/Common/Pfeil_Rechts_AAD.svg">
                    </div>
                    <div class="clearfix"></div>
                </a>
            }
        </div>
    </div>

    <div class="row">
        <div class="list-group">
            <div class="list-group-item" style="padding-top: 0; padding-bottom: 0">
                <div class="col-xs-9 col-xs-offset-2">
                    <div class="text-description">
                        @Html.ValidationSummary(true, "Bitte gib mindestens den Ort der Sichtung an und benenne die Tierart oder schicke uns ein Foto und stimme den Nutzungsbedingungen zu.", new { Style = "padding-top: 15px" })
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="list-group">
            @(Html.EditorFor(m => m.Coordinates, "Map"))
        </div>
        <div class="list-group">
            @(Html.EditorFor(m => m.Date, "Date"))
        </div>
        <div class="list-group">
            @(Html.EditorFor(m => m.Shot, "Shot"))
        </div>
        <div class="list-group">
            @(Html.EditorFor(m => m.Species, "Species"))
        </div>
        <div class="list-group">
            @(Html.EditorFor(m => m.Comment, "Comment"))
        </div>
        <div class="list-group">
            @(Html.EditorFor(m => m.TermsAndConditions, "TermsAndConditions"))
        </div>
        <div class="list-group">
            <a href="#" onclick="$('form#Form_CategoryObservation').submit(); return false;" class="list-group-item list-group-item-action aadi-lgi-common">
                <div class="media col-xs-2">
                    <img class="media-object aadi-img-responsive" src="~/Images/Common/Ausrufezeichen_AAD.svg">
                </div>
                <div class="col-xs-9 text-aad">
                    Sichtung abschicken!
                </div>
                <div class="media col-xs-1">
                    <img class="media-object aadi-img-responsive pull-right" src="~/Images/Common/Pfeil_Rechts_AAD.svg">
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(document)
            .ready(function () {
                if ($("#Comment").val().length > 0) {
                    $("#Checkbox_Comment").attr("src", "/Images/Common/Kästchen-mit-Haken.svg");
                } else {
                    $("#Checkbox_Comment").attr("src", "/Images/Common/Kästchen.svg");
                }

                $("#Comment").change(function () {
                    if ($("#Comment").val().length > 0) {
                        $("#Checkbox_Comment").attr("src", "/Images/Common/Kästchen-mit-Haken.svg");
                    } else {
                        $("#Checkbox_Comment").attr("src", "/Images/Common/Kästchen.svg");
                    }
                });

                if ($("#Shot").val().length > 0) {
                    $("#Checkbox_Shot").attr("src", "/Images/Common/Kästchen-mit-Haken.svg");
                } else {
                    $("#Checkbox_Shot").attr("src", "/Images/Common/Kästchen.svg");
                }

                $("#Shot").change(function () {
                    if ($("#Shot").val().length > 0) {
                        $("#Checkbox_Shot").attr("src", "/Images/Common/Kästchen-mit-Haken.svg");
                    } else {
                        $("#Checkbox_Shot").attr("src", "/Images/Common/Kästchen.svg");
                    }
                });

                if ($("#Species").val().length > 0) {
                    $("#Checkbox_Species").attr("src", "/Images/Common/Kästchen-mit-Haken.svg");
                } else {
                    $("#Checkbox_Species").attr("src", "/Images/Common/Kästchen.svg");
                }

                $("#Species").change(function () {
                    if ($("#Species").val().length > 0) {
                        $("#Checkbox_Species").attr("src", "/Images/Common/Kästchen-mit-Haken.svg");
                    } else {
                        $("#Checkbox_Species").attr("src", "/Images/Common/Kästchen.svg");
                    }
                });

                if ($('#Coordinates').val().length > 0) {
                    var latlng = L.latLng($("#Coordinates").val().split(",").map(parseFloat));
                    leafletManager.createMap('Leaflet_Map', latlng);
                    leafletManager.addMarker(latlng);
                } else {
                    leafletManager.createMap('Leaflet_Map');
                }

                $('#Species').typeahead({
                    minLength: 3,
                    source: function (query, process) {
                        return jQuery.get('@Url.Action("GetSpeciesNames", "Observation")',
                            { Query: query },
                            function (data) {
                                return process(data);
                            });
                    }
                });

                $('#DateTimePicker_Date').datetimepicker({
                    inline: true,
                    locale: 'de'
                });

                $('.observation-content').hide();
            });
    </script>
}