@model List<IngolStadtNatur.Web.Shell.Models.GalleryItemModel>


<div id="aniimated-thumbnials" class="list-unstyled justified-gallery">
    @foreach (var shot in Model)
    {
        <a href="@($"/Shots/{@shot.Name}")" data-responsive="@($"/Shots/{@shot.Name}?width=192&quality=90 375"), @($"/Shots/{@shot.Name}?width=192&quality=90 480"), @($"/Shots/{@shot.Name}?width=192&quality=90 757")">
            <img class="col-lg-3 col-md-4 col-sm-6 col-xs-6 img-responsive" style="padding: 0" src="@($"/Shots/{@shot.Name}?width=192&quality=90")">
        </a>
    }
</div>

@section Scripts{
    <script>
        $(document)
            .ready(function () {
                $('#aniimated-thumbnials').lightGallery({
                    thumbnail: true
                });
            });
    </script>
}